p {
    color: blueviolet;
    font-weight: bold;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

.Mili {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}

.Mili:hover {
    color: chartreuse;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: blueviolet;
    color: white;
}

.listaE {
    display: inline-flex;
    padding: 20px;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
}

.listaE :hover {
    color: chartreuse;
}

.listaE li {
    padding: 5px;
    list-style: none;
    cursor: pointer;
}

body {
    background-color: red;
    justify-content: center;
    /* Alinea los divs en el centro */
    gap: 20px;
    /* Espacio entre los divs */

}

.Aum {
    background-color: green;
    color: white;
    padding: 5%;
    margin: auto;

}

.Dis {
    background-color: rgb(11, 157, 255);
    color: white;
    padding: 5%;
    margin: auto;
}

.Cont {
    box-shadow: 10px 10px 15px rgb(240, 235, 235);
    color: white;
    padding-inline: 10%;
    margin: auto; 
    border-radius: 10% 30% 10% 30%;
    
}

div {
    width: 100px;
    height: 100px;
    margin: auto;
}

.but {
    display: flex; 
    
}

h2{
    text-align: center;
}


